@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello, world!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>The time on the server is @DateTime.Now</p>
 <p><span>This code is lit </span><img alt="Fire" draggable="false" src="https://abs-0.twimg.com/emoji/v2/svg/1f525.svg" title="Fire" height="40"><img alt="Hundred points symbol" draggable="false" src="https://abs-0.twimg.com/emoji/v2/svg/1f4af.svg" title="Hundred points symbol" height="40"><span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0"></p>
</div>
